---
export interface Props {
  itemLabel: string;
}

const { itemLabel } = Astro.props;
---

<p class="more-link">
  <a href={`/${itemLabel}/`}>
    <span class="more-link-text">All {itemLabel}</span>
    <span aria-hidden="true">
      <svg class="icon icon-triangle-right" focusable="false" role="none">
        <use href="#icon-triangle-right"></use>
      </svg>
    </span>
  </a>
</p>
