---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import RouteTargetHeading from '../components/RouteTargetHeading.astro';
import MediaGrid from '../components/MediaGrid.astro';

const allTalks = await getCollection('talks');
const publishedTalks = allTalks
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout
  title="Talks & Presentations"
  bodyClass="page"
  pathname="/talks/"
  description="Conference talks and presentations by Marcy Sutton Todd about web accessibility"
>
  <section class="generic-wrap talks-wrap breathing-room">
    <RouteTargetHeading>
      Talks
    </RouteTargetHeading>

    <p>I've been fortunate to speak at many conferences around the world about web accessibility and inclusive development practices. Here are recordings of some of my talks:</p>

    <MediaGrid
      className="media-grid breathing-room media-grid-talks no-background"
      allItems={true}
      items={publishedTalks}
      itemLabel="talks"
    />
  </section>
</BaseLayout>
