---
import { Image } from 'astro:assets';

export interface Props {
  subtitle: string;
  className?: string;
  images: Record<string, () => any>
}

const { images, subtitle, className = '' } = Astro.props;
---

<div class={`media-grid image-grid ${className}`}>
  <h2 class="subhead visually-hidden">{subtitle}</h2>
  <ul class="image-items">
      {Object.keys(images).map((key) => (
        <li class="image-item">
          <Image src={images[key]()} alt={""} />
        </li>
      ))}
  </ul>
</div>
