---

---

<h2>Speaking & Teaching</h2>
<p id="upcoming-talks">
I take on talks infrequently, about once or twice a year. Want me to speak at your high-profile, boutique event (with expenses covered)? Feel free to <a href="/contact">get in touch</a>.
</p>

<ul id="past-talks">
    <li class="offsite-link">
        <a title="Link opens in a new window" href="https://perfnow.nl/speakers.html" target="_blank" rel="noopener noreferrer">
            <span class="inline-link">perfnow(): Accessibility and Performance</span>
        </a><br />
        Amsterdam, NL<br />
        October 2025</li>
</ul>